.App {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#121826, #0000008f), url('../public/images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Montserrat', sans-serif;
}

/* responsive container */
.container {
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}


@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* style images  */
img {
  max-width: 100%;
  font-size: 12px;
}